.cust-calendar th {
    text-align: center;
}

.next-prev {
    padding: 0 2%;
}


/*Dark mode CSS*/
h1, h2, h3, h4 {
    color: white !important;
}

p, li, address, th, span, label {
    color: #f7f7f7 !important;
}

.bg-dark {
    background-color: #292b2c;
}

.jumbotron {
    background-color: #1c1e1e;
}

.panel {
    background-color: #1c1e1e;
    margin-top: 30px;
}

.panel-primary {
    border-style: none;
}

.border-dark {
    border-color: transparent;
}
